<article>
  <h2>
    <a href="{{site.baseurl}}{{ post.url }}">
      {{ post.title }}
    </a>
  </h2>
  <span class="post-category">
    {% for category in post.categories %}
    <span class="label">{{ category }}</span>
    {% endfor %}
  </span>
  <div class="post-meta">
    <span class="post-date">
      {{ post.date | date_to_string }}
    </span>
    <a href="https://github.com/{{ post.author }}" class="post-author">
      {{ post.author }}
    </a>
  </div>
  <div class="post-content-truncate">
    {% if post.content contains "<!-- more -->" %}
      {{ post.content | split:"<!-- more -->" | first % }}
    {% else %}
      {{post.content | strip_html | trucatewords : 100}}
    {% endif %}
    <div>
    <br>
    <a href="{{site.baseurl}}{{ post.url }}", class="btn">read more ...</a> 
    </div>
  </div>
</article>
