<ul>
  <li class="{% if page.overview %}current{% endif %}">
    <a href="{{ site.baseurl }}/", style="font-size:15px" >Overview</a>
  </li>
  <li class="{% if page.url contains '/chinese/' %}current{% endif %}">
      <a href="{{ site.baseurl }}/chinese/", style="font-size:15px" >中&nbsp;文</a>
  </li>
  <li class="{% if page.url contains '/docs/' %}current{% endif %}">
    <a href="{{ site.baseurl }}/docs/home/", style="font-size:15px" >Category</a>
  </li>
  <li class="{% if page.author %}current{% endif %}">
    <a href="{{ site.baseurl }}/news/", style="font-size:15px" >Thinking</a>
  </li>
  <li class="">
    <a href="{{ site.repository }}", style="font-size:15px" ><span class="hide-on-mobiles">View on </span>GitHub</a>
  </li>
</ul>